header{
	background-color: #C6CFCC; !important
}

#navbar li a {
	color: #E7E9BB; !important
}

#navbar li a:hover {
	color: #7D7C7C; !important
	background-color: #E7E9BB;
}

#navbar li span.logo-title {
	color: #7D7C7C;
}

#navbar li span.logo-title:hover {
	color: #E7E9BB;
}

main section:not(.active) {
	display: none;
	padding-bottom: 6rem;
}

main section.active {
	display: block;
	box-shadow: 0 0 2px #ccc;
	margin-top: 4.8rem;
}
